<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>document-item-overlay-dark</key>
	<string>rgba(82,82,82,0.40)</string>
	<key>document-item-overlay</key>
	<string>$black-20</string>
	<key>black</key>
	<string>#000000</string>
	<key>black-80</key>
	<string>$black:alpha(0.80)</string>
	<key>black-50</key>
	<string>$black:alpha(0.50)</string>
	<key>black-70</key>
	<string>$black:alpha(0.70)</string>
	<key>black-25</key>
	<string>$black:alpha(0.25)</string>
	<key>black-20</key>
	<string>$black:alpha(0.20)</string>
	<key>black-17</key>
	<string>$black:alpha(0.17)</string>
	<key>black-15</key>
	<string>$black:alpha(0.15)</string>
	<key>black-10</key>
	<string>$black:alpha(0.10)</string>
	<key>black-5</key>
	<string>$black:alpha(0.05)</string>
	<key>black-8</key>
	<string>$black:alpha(0.08)</string>
	<key>default-accent</key>
	<string>@controlAccentColor</string>
	<key>stepper-button-background</key>
	<string>$white</string>
	<key>stepper-button-background-dark</key>
	<string>#808080</string>
	<key>stepper-button-separator</key>
	<string>$black-10</string>
	<key>stepper-button-separator-dark</key>
	<string>#8C8C8C</string>
	<key>stepper-button-arrow</key>
	<string>$black-50</string>
	<key>stepper-button-arrow-dark</key>
	<string>$white</string>
	<key>stepper-button-pressed</key>
	<string>$black-20</string>
	<key>stepper-button-pressed-dark</key>
	<string>#999999</string>
	<key>red</key>
	<string>#F00</string>
	<key>tungsten</key>
	<string>#6D7278</string>
	<key>background-ui-color</key>
	<string>#F2F2F2</string>
	<key>background-ui-color-dark</key>
	<string>#2E2F30</string>
	<key>tungsten-80</key>
	<string>rgba(109,114,120,0.80)</string>
	<key>white</key>
	<string>#FFFFFF</string>
	<key>white-95</key>
	<string>$white:alpha(0.95)</string>
	<key>white-90</key>
	<string>$white:alpha(0.90)</string>
	<key>white-85</key>
	<string>$white:alpha(0.85)</string>
	<key>white-80</key>
	<string>$white:alpha(0.80)</string>
	<key>white-50</key>
	<string>$white:alpha(0.50)</string>
	<key>white-40</key>
	<string>$white:alpha(0.40)</string>
	<key>white-30</key>
	<string>$white:alpha(0.30)</string>
	<key>white-25</key>
	<string>$white:alpha(0.25)</string>
	<key>white-20</key>
	<string>$white:alpha(0.20)</string>
	<key>white-15</key>
	<string>$white:alpha(0.15)</string>
	<key>white-10</key>
	<string>$white:alpha(0.10)</string>
	<key>white-5</key>
	<string>$white:alpha(0.05)</string>
	<key>white-95p</key>
	<string>rgba(242, 242, 242, 1.0)</string>
	<key>white-77p</key>
	<string>rgba(196, 196, 196, 1.0)</string>
	<key>white-62p</key>
	<string>rgba(158, 158, 158, 1.0)</string>
	<key>white-27p</key>
	<string>rgba(69, 69, 69, 1.0)</string>
	<key>white-18p</key>
	<string>rgba(46, 46, 46, 1.0)</string>
	<key>white-5p</key>
	<string>#0D0D0D</string>
	<key>asset-picker-item-border-color</key>
	<string>$black-10</string>
	<key>asset-picker-item-border-color-dark</key>
	<string>$white-10</string>
	<key>asset-picker-image-item-background</key>
	<string>$black-5</string>
	<key>asset-picker-image-item-background-dark</key>
	<string>$white</string>
	<key>canvas-artboard-title</key>
	<string>srgb(146, 146, 146)</string>
	<key>canvas-artboard-title-dark</key>
	<string>srgb(146, 146, 146)</string>
	<key>canvas-background</key>
	<string>$white</string>
	<key>canvas-background-dark</key>
	<string>#1D1E1F</string>
	<key>canvas-flow-arrow</key>
	<string>rgb(245, 152, 0, 1)</string>
	<key>canvas-layer-selection</key>
	<string>rgb(170, 170, 170)</string>
	<key>canvas-measurement-label-background</key>
	<string>#313336</string>
	<key>canvas-page-background</key>
	<string>#F9F9F9</string>
	<key>canvas-page-background-dark</key>
	<string>#131415</string>
	<key>canvas-pixel-line</key>
	<string>rgba(242, 242, 242, 0.3)</string>
	<key>canvas-ruler-background</key>
	<string>$white</string>
	<key>canvas-ruler-background-dark</key>
	<string>#000000</string>
	<key>canvas-ruler-line</key>
	<string>#D0D0D0</string>
	<key>canvas-ruler-line-dark</key>
	<string>#575B60</string>
	<key>canvas-ruler-line-occupied</key>
	<string>#7CB6E2</string>
	<key>canvas-ruler-lock</key>
	<string>#707070</string>
	<key>canvas-ruler-lock-dark</key>
	<string>#989898</string>
	<key>canvas-ruler-lock-pressed</key>
	<string>#505050</string>
	<key>canvas-ruler-lock-pressed-dark</key>
	<string>#B0B0B0</string>
	<key>canvas-ruler-occupied</key>
	<string>#CCE9FF</string>
	<key>canvas-ruler-text</key>
	<string>rgba(0, 0, 0, 0.85)</string>
	<key>canvas-ruler-text-dark</key>
	<string>rgba(255, 255, 255, 0.85)</string>
	<key>canvas-ruler-text-background</key>
	<string>rgba(255,255,255,0.80)</string>
	<key>canvas-ruler-text-background-dark</key>
	<string>rgba(33,33,33,0.80)</string>
	<key>canvas-slice-outline</key>
	<string>#CCCCCC</string>
	<key>canvas-symbol-title</key>
	<string>srgba(182, 32, 224, 0.7)</string>
	<key>canvas-symbol-title-dark</key>
	<string>#CC63E9</string>
	<key>canvas-override-selection-back</key>
	<string>$white</string>
	<key>color-picker-asset-border</key>
	<string>rgba(0,0,0,0.15)</string>
	<key>color-picker-asset-border-dark</key>
	<string>$white-20</string>
	<key>color-picker-checkerboard-background</key>
	<string>$white</string>
	<key>color-picker-checkerboard-background-dark</key>
	<string>#2b2d30</string>
	<key>color-picker-checkerboard-foreground</key>
	<string>$white-77p</string>
	<key>color-picker-checkerboard-foreground-dark</key>
	<string>$white-27p</string>
	<key>color-picker-checkerboard-border</key>
	<string>@clearColor</string>
	<key>color-picker-checkerboard-border-dark</key>
	<string>$white-10</string>
	<key>color-picker-color-controls-border</key>
	<string>$black-25</string>
	<key>color-picker-color-controls-border-dark</key>
	<string>$white-25</string>
	<key>color-picker-color-controls-knob-border</key>
	<string>$black-25</string>
	<key>color-picker-pattern-image-border</key>
	<string>$black-15</string>
	<key>color-picker-pattern-image-border-dark</key>
	<string>$white-15</string>
	<key>color-picker-marker-fill</key>
	<string>$white</string>
	<key>color-picker-marker-shadow</key>
	<string>$black-10</string>
	<key>color-picker-separator</key>
	<string>#E5E5E5</string>
	<key>color-picker-separator-dark</key>
	<string>#505050</string>
	<key>color-picker-label-text</key>
	<string>@tintColorIntense</string>
	<key>color-picker-color-mode-picker-accented-icon-graphite</key>
	<string>$black-80</string>
	<key>color-picker-color-mode-picker-accented-icon-graphite-dark</key>
	<string>$inspector-graphite-accent-icon-dark</string>
	<key>color-picker-frequent-image-background</key>
	<string>$black-5</string>
	<key>color-picker-modified-asset-indicator-border</key>
	<string>$white</string>
	<key>color-picker-modified-asset-indicator-border-dark</key>
	<string>#27282B</string>
	<key>color-picker-assets-no-content-placeholder-color</key>
	<string>$black-25</string>
	<key>color-picker-assets-no-content-placeholder-color-dark</key>
	<string>$white-25</string>
	<key>header-background</key>
	<string>$white-50</string>
	<key>header-background-dark</key>
	<string>$black-20</string>
	<key>hover-button-hover</key>
	<string>#555555</string>
	<key>hover-button-normal</key>
	<string>#888888</string>
	<key>flow-tint</key>
	<string>$black-25</string>
	<key>flow-tint-dark</key>
	<string>$white-50</string>
	<key>inspector-graphite-accent-icon</key>
	<string>$black-70</string>
	<key>inspector-graphite-accent-icon-dark</key>
	<string>$white-90</string>
	<key>inspector-graphite-accent</key>
	<string>$black-70</string>
	<key>inspector-graphite-accent-dark</key>
	<string>$white-90</string>
	<key>inspector-alignment-background</key>
	<string>#fafafa</string>
	<key>inspector-alignment-background-dark</key>
	<string>#454647</string>
	<key>inspector-alignment-strut</key>
	<string>$black-25</string>
	<key>inspector-alignment-strut-graphite-active</key>
	<string>$black-70</string>
	<key>inspector-alignment-strut-graphite-active-dark</key>
	<string>$white-90</string>
	<key>inspector-alignment-strut-dark</key>
	<string>$white-25</string>
	<key>inspector-alignment-strut-disabled</key>
	<string>$black-10</string>
	<key>inspector-alignment-strut-disabled-dark</key>
	<string>$white-10</string>
	<key>inspector-artboard-preset-header-color</key>
	<string>$background-ui-color</string>
	<key>inspector-artboard-tableview-background-color</key>
	<string>$white</string>
	<key>inspector-artboard-tableview-background-color-dark</key>
	<string>#2E2F30</string>
	<key>inspector-artboard-preset-header-color-dark</key>
	<string>#454647</string>
	<key>inspector-background</key>
	<string>$background-ui-color</string>
	<key>inspector-background-dark</key>
	<string>$background-ui-color-dark</string>
	<key>inspector-border</key>
	<string>$black-17</string>
	<key>inspector-border-dark</key>
	<string>$white-10</string>
	<key>inspector-button-background</key>
	<string>$inspector-label-background</string>
	<key>inspector-button-drop-shadow</key>
	<string>$black:alpha(0.1)</string>
	<key>inspector-button-drop-shadow-dark</key>
	<string>@clearColor</string>
	<key>inspector-icon</key>
	<string>@secondaryLabelColor</string>
	<key>inspector-accented-background-icon</key>
	<string>$white</string>
	<key>inspector-inline-label-text</key>
	<string>@secondaryLabelColor</string>
	<key>inspector-inline-label-text-dark</key>
	<string>$white-62p</string>
	<key>inspector-label-background</key>
	<string>$white</string>
	<key>inspector-label-background-dark</key>
	<string>$white-27p</string>
	<key>inspector-label-border</key>
	<string>$inspector-border</string>
	<key>inspector-label-text</key>
	<string>@labelColor</string>
	<key>inspector-label-text-dark</key>
	<string>$white-85</string>
	<key>inspector-override-config-header</key>
	<string>$black:alpha(0.04)</string>
	<key>inspector-override-config-header-dark</key>
	<string>$white:alpha(0.07)</string>
	<key>inspector-push-button-background</key>
	<string>$inspector-button-background</string>
	<key>inspector-push-button-background-dark</key>
	<string>#5d5f61</string>
	<key>inspector-resize-root-fill</key>
	<string>$black:alpha(0.02)</string>
	<key>inspector-resize-root-border</key>
	<string>$inspector-border</string>
	<key>inspector-resize-container-fill</key>
	<string>$inspector-button-background</string>
	<key>inspector-resize-container-border</key>
	<string>$inspector-border</string>
	<key>inspector-resize-handle-fill</key>
	<string>$white</string>
	<key>inspector-resize-handle-fill-dark</key>
	<string>srgba(5,5,5,1)</string>
	<key>inspector-resize-handle-border</key>
	<string>rgba(182,184,187,1.0)</string>
	<key>inspector-resize-preview-fill</key>
	<string>$inspector-resize-preview-border:alpha(0.7)</string>
	<key>inspector-resize-preview-border</key>
	<string>rgba(109,212,0,1.0)</string>
	<key>inspector-secondary-label-text-highlighted</key>
	<string>$white:alpha(0.8)</string>
	<key>inspector-section-background</key>
	<string>#EDEDED</string>
	<key>inspector-section-background-dark</key>
	<string>$inspector-background-dark</string>
	<key>inspector-section-header-text</key>
	<string>$black-50</string>
	<key>inspector-section-header-text-dark</key>
	<string>$white-50</string>
	<key>inspector-section-separator</key>
	<string>#C6C6C6</string>
	<key>inspector-slider-knob</key>
	<string>$white</string>
	<key>inspector-slider-knob-dark</key>
	<string>#8A8E93</string>
	<key>inspector-slider-knob-border</key>
	<string>$black-15</string>
	<key>inspector-slider-knob-border-dark</key>
	<string>$black-15</string>
	<key>inspector-slider-right-track</key>
	<string>$black-10</string>
	<key>inspector-slider-right-track-dark</key>
	<string>$inspector-label-background</string>
	<key>inspector-style-preview-button-overlay-highlight</key>
	<string>$black-10</string>
	<key>inspector-style-preview-button-overlay-highlight-dark</key>
	<string>$white-15</string>
	<key>color-picker-color-model-picker-background-color</key>
	<string>$black-10</string>
	<key>color-picker-color-model-picker-background-color-dark</key>
	<string>$white-10</string>
	<key>color-picker-color-model-picker-background-color-active</key>
	<string>$black-20</string>
	<key>color-picker-color-model-picker-background-color-active-dark</key>
	<string>$white-20</string>
	<key>layer-list-artboard-border</key>
	<string>$layer-list-default-divider</string>
	<key>layer-list-artboard-border-dark</key>
	<string>$layer-list-default-divider-dark</string>
	<key>layer-list-artboard-border-selected</key>
	<string>$white-10</string>
	<key>layer-list-background</key>
	<string>$background-ui-color</string>
	<key>layer-list-background-dark</key>
	<string>$background-ui-color-dark</string>
	<key>layer-list-default-divider</key>
	<string>#dadadb</string>
	<key>layer-list-default-divider-dark</key>
	<string>#575859</string>
	<key>layer-list-filter-bar-background</key>
	<string>$white</string>
	<key>layer-list-filter-bar-background-dark</key>
	<string>$layer-list-background</string>
	<key>layer-list-filter-bar-border</key>
	<string>$layer-list-default-divider</string>
	<key>layer-list-filter-bar-border-dark</key>
	<string>#434445</string>
	<key>layer-list-filter-token-background</key>
	<string>$default-accent:alpha(0.15)</string>
	<key>layer-list-filter-token-background-dark</key>
	<string>$default-accent:alpha(0.50)</string>
	<key>layer-list-filter-token-background-inactive</key>
	<string>$black-10</string>
	<key>layer-list-filter-token-background-dark-inactive</key>
	<string>$white-10</string>
	<key>layer-list-filter-token-background-selected-inactive</key>
	<string>$black-20</string>
	<key>layer-list-filter-token-background-selected-dark-inactive</key>
	<string>$white-20</string>
	<key>layer-list-filter-token-title</key>
	<string>@tintColorIntense</string>
	<key>layer-list-filter-token-title-dark</key>
	<string>@tintColorIntenseDark</string>
	<key>layer-list-filter-token-title-selected</key>
	<string>$white</string>
	<key>layer-list-icon-tint</key>
	<string>@secondaryLabelColor</string>
	<key>layer-list-icon-tint-pressed-selected</key>
	<string>$white:alpha(0.75)</string>
	<key>layer-list-icon-tint-selected</key>
	<string>$white</string>
	<key>layer-list-icon-tint-selected-inactive</key>
	<string>$layer-list-icon-tint</string>
	<key>layer-list-icon-tint-shared</key>
	<string>#B620E0</string>
	<key>layer-list-icon-tint-shared-dark</key>
	<string>#C44CE6</string>
	<key>layer-list-light-background</key>
	<string>#FAFAFA</string>
	<key>layer-list-light-background-dark</key>
	<string>#454647</string>
	<key>layer-list-symbol-override-selection</key>
	<string>$default-accent:alpha(0.15)</string>
	<key>layer-list-symbol-override-selection-inactive</key>
	<string>$black-5</string>
	<key>layer-list-symbol-override-selection-dark-inactive</key>
	<string>$white-5</string>
	<key>layer-list-selection</key>
	<string>$default-accent</string>
	<key>layer-list-selection-inactive</key>
	<string>$black-10</string>
	<key>layer-list-selection-dark-inactive</key>
	<string>$white-10</string>
	<key>layer-list-split-view-divider</key>
	<string>$layer-list-default-divider</string>
	<key>layer-list-split-view-divider-dark</key>
	<string>$layer-list-default-divider-dark</string>
	<key>layer-list-tab-button</key>
	<string>@secondaryLabelColor</string>
	<key>layer-list-tab-button-selected</key>
	<string>@tintColorIntense</string>
	<key>layer-list-tab-button-selected-dark</key>
	<string>@tintColorIntenseDark</string>
	<key>component-pane-group-preview-background</key>
	<string>$black:alpha(0.08)</string>
	<key>component-pane-group-preview-background-dark</key>
	<string>$white:alpha(0.16)</string>
	<key>components-filter-bar-background</key>
	<string>@controlColor</string>
	<key>components-filter-bar-background-dark</key>
	<string>$layer-list-light-background-dark</string>
	<key>components-kind-bar-background</key>
	<string>@controlColor</string>
	<key>components-kind-bar-background-dark</key>
	<string>$layer-list-light-background-dark</string>
	<key>components-search-result-highlight-background</key>
	<string>rgba(247,181,0,0.25)</string>
	<key>components-search-result-highlight-background-dark</key>
	<string>rgba(247,181,0,0.15)</string>
	<key>components-search-result-highlight-underline</key>
	<string>rgba(247,181,0,1)</string>
	<key>components-search-result-highlight-underline-dark</key>
	<string>rgba(247,181,0,0.5)</string>
	<key>layer-list-text</key>
	<string>@tintColorIntense</string>
	<key>layer-list-text-dark</key>
	<string>@tintColorIntenseDark</string>
	<key>layer-list-text-hidden</key>
	<string>$black:alpha(0.5)</string>
	<key>layer-list-text-hidden-dark</key>
	<string>$white:alpha(0.5)</string>
	<key>text-table-row-background</key>
	<string>$white-95p</string>
	<key>text-table-row-background-dark</key>
	<string>$white-5p</string>
	<key>text-table-contrast</key>
	<string>@lightGrayColor</string>
	<key>text-table-contrast-dark</key>
	<string>@lightGrayColor</string>
	<key>license-window-error-text</key>
	<string>#E01F1F</string>
	<key>mscollectionview-column-separator</key>
	<string>#D3D3D3</string>
	<key>mscollectionview-column-separator-dark</key>
	<string>#0B0B0B</string>
	<key>mscollectionview-row-1</key>
	<string>#EEEEEE</string>
	<key>mscollectionview-row-1-dark</key>
	<string>#323335</string>
	<key>mscollectionview-row-2</key>
	<string>#E7E7E7</string>
	<key>mscollectionview-row-2-dark</key>
	<string>#28292B</string>
	<key>preferences-window-error-text</key>
	<string>#EF001C</string>
	<key>preferences-account-box-background</key>
	<string>$black:alpha(0.03)</string>
	<key>preferences-account-box-background-dark</key>
	<string>$white:alpha(0.03)</string>
	<key>preferences-asset-library-header-background</key>
	<string>@windowBackgroundColor</string>
	<key>preferences-asset-library-header-border</key>
	<string>$black-10</string>
	<key>preferences-asset-library-header-border-dark</key>
	<string>$white-15</string>
	<key>overlay-button-background</key>
	<string>$black:alpha(0.6)</string>
	<key>popover-window-background</key>
	<string>$white</string>
	<key>popover-window-background-dark</key>
	<string>#282828:alpha(0.93)</string>
	<key>popover-window-outline</key>
	<string>$white:alpha(0.0)</string>
	<key>popover-window-outline-dark</key>
	<string>$white:alpha(0.3)</string>
	<key>split-view-divider</key>
	<string>#E5E5E5</string>
	<key>split-view-divider-dark</key>
	<string>$black</string>
	<key>tableviewcell-button-background-selected</key>
	<string>$white</string>
	<key>tableviewcell-button-stringcolor</key>
	<string>$white</string>
	<key>tiled-image-view-background</key>
	<string>$white-80</string>
	<key>tiled-image-view-background-dark</key>
	<string>$black-80</string>
	<key>documents-window-divider</key>
	<string>$black</string>
	<key>documents-window-divider-dark</key>
	<string>$white</string>
	<key>documents-window-vertical-divider</key>
	<string>#B2B2B2</string>
	<key>documents-window-vertical-divider-dark</key>
	<string>$black</string>
	<key>documents-window-thumbnail-bg</key>
	<string>#F7F7F7</string>
	<key>documents-window-thumbnail-bg-dark</key>
	<string>$black-70</string>
	<key>documents-window-thumbnail-border</key>
	<string>$white</string>
	<key>documents-window-thumbnail-border-dark</key>
	<string>#36383A</string>
	<key>documents-window-banner-background</key>
	<string>#FBE199</string>
	<key>documents-window-banner-background-dark</key>
	<string>#4B3F1D</string>
	<key>documents-window-banner-text</key>
	<string>#624800</string>
	<key>documents-window-banner-text-dark</key>
	<string>#FBE199</string>
	<key>documents-window-banner-button</key>
	<string>#946C00</string>
	<key>documents-window-banner-button-dark</key>
	<string>#FBE199</string>
	<key>documents-window-banner-border</key>
	<string>#EFD17A</string>
	<key>documents-window-banner-border-dark</key>
	<string>#5E4F23</string>
	<key>window-badge-fonts-missing</key>
	<string>#3DC1A3</string>
	<key>window-badge-library-changes</key>
	<string>#B620E0</string>
	<key>window-badge-trial-message</key>
	<string>#6D7278</string>
	<key>window-badge-plugin-updates</key>
	<string>#FA6400</string>
	<key>window-badge-library-updates</key>
	<string>#6236FF</string>
	<key>cloud-popover-button-tint</key>
	<string>$black:alpha(0.25)</string>
	<key>cloud-popover-button-tint-dark</key>
	<string>$white-50</string>
	<key>cloud-popover-cancel-button-tint</key>
	<string>$black-50</string>
	<key>cloud-popover-cancel-button-tint-pressed</key>
	<string>$black:alpha(0.75)</string>
	<key>cloud-popover-cancel-button-tint-dark</key>
	<string>$white-50</string>
	<key>window-badge-text</key>
	<string>#FFFFFF</string>
	<key>window-badge-unfocused-pill</key>
	<string>srgba(109,114,120, 0.5)</string>
	<key>window-badge-multiple-notifications</key>
	<string>#E02020</string>
	<key>documents-window-seperator</key>
	<string>$black-10</string>
	<key>documents-window-seperator-dark</key>
	<string>$white-10</string>
	<key>documents-window-local-button-background</key>
	<string>$white-50</string>
	<key>documents-window-local-button-background-dark</key>
	<string>$white-25</string>
	<key>documents-window-local-button-background-highlight</key>
	<string>$black-5</string>
	<key>documents-window-local-button-background-highlight-dark</key>
	<string>$white:alpha(0.35)</string>
	<key>documents-window-local-button-inner-shadow</key>
	<string>$white:alpha(0.35)</string>
	<key>documents-window-local-button-inner-shadow-dark</key>
	<string>$white:alpha(0.12)</string>
	<key>documents-window-local-button-second-inner-shadow</key>
	<string>$white:alpha(0.03)</string>
	<key>documents-window-local-button-border</key>
	<string>$black-15</string>
	<key>documents-window-widget-pressed</key>
	<string>$black-10</string>
	<key>documents-window-status-icon</key>
	<string>$black:alpha(0.40)</string>
	<key>documents-window-status-icon-selected</key>
	<string>$white</string>
	<key>documents-window-status-icon-dark</key>
	<string>$white-50</string>
	<key>component-pane-text-item-missing-font-background</key>
	<string>#F8C332:alpha(0.5)</string>
</dict>
</plist>
