<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.chriswetterman.sketch.find-and-replace-text-plugin</key>
	<string>1.3.0</string>
	<key>com.sketchrunner.Runner</key>
	<string>1.0.7</string>
	<key>com.invision.panels</key>
	<string>1.0.63</string>
	<key>com.invision.dsm</key>
	<string>1.0.1</string>
	<key>com.heysketch.plugins.color-picker-plus</key>
	<string>1.2.0</string>
	<key>com.animaapp.stc-sketch-plugin</key>
	<string>4.0.0</string>
	<key>com.animaapp.fontbuddy</key>
	<string>1.0.3</string>
	<key>io.sympli.sympli-sketch</key>
	<string>1.2.17</string>
	<key>io.magicsketch.mirror</key>
	<string>3.6.6</string>
	<key>design.magicmirror</key>
	<string>2.0.9.4</string>
	<key>com.liguangming.sketch-i18n</key>
	<string>1.1.6</string>
	<key>com.utom.measure</key>
	<string>2.6.13</string>
	<key>com.abstractapp.sketchplugin.1685a5c9-5230-4d37-963c-5efa0f361065</key>
	<string>239</string>
	<key>com.sketchapp.slinky-plugin</key>
	<string>0.1.5</string>
	<key>com.codearrows.sketch.SketchFocus</key>
	<string>1.3.1</string>
	<key>com.davidwilliames.sketch-plugin.paddy</key>
	<string>1.0.6</string>
	<key>com.midnightsketch.Midnight</key>
	<string>1.2.3</string>
	<key>com.vyacheslav-dubovitsky.KeysForSketch</key>
	<string>0.8.9</string>
	<key>com.nivritti.diya</key>
	<string>27</string>
	<key>com.andrewfiorillo.sketch.sketch-artboards-to-pdf</key>
	<string>1.2</string>
	<key>com.protowire.sketch.prototype</key>
	<string>1.2.4</string>
	<key>com.syncify.sketch.contentsync</key>
	<string>6.5.5</string>
	<key>com.davidwilliames.sketch-plugins.paddy2</key>
	<string>0.6</string>
	<key>com.keremciu.sketch.fontawesome</key>
	<string>4.7.0</string>
	<key>com.marvelprototyping.marvelsketchplugin</key>
	<string>10.4</string>
	<key>com.markhorgan.sketch.pointbreak</key>
	<string>1.0.10</string>
	<key>com.facebook.sketchplugins</key>
	<string>2.1.94</string>
	<key>com.google.ux.material.spec_tools</key>
	<string>1.19.314565663</string>
	<key>com.ArielSelig.ReactDraw</key>
	<string>1.5</string>
	<key>com.plant.plantplugin</key>
	<string>1.5.3.1</string>
	<key>com.taptap.ninja.rename-it</key>
	<string>4.2.1</string>
	<key>design.kola.sketch.qrcode</key>
	<string>0.3.0</string>
	<key>com.sketchrunner.v1.Runner</key>
	<string>1.1.5</string>
	<key>iconify.add-icon</key>
	<string>1.1.9</string>
	<key>com.alipaySocial.iSketch</key>
	<string>3.2.17</string>
	<key>skpm.dev-tools.show-dev-tools</key>
	<string>0.9.9</string>
	<key>com.mludowise.sketch-plugin-manager</key>
	<string>1.8</string>
</dict>
</plist>
