<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
  <string>.AlBayanPUA</string>
  <string>.AlBayanPUA-Bold</string>
  <string>.AlNilePUA</string>
  <string>.AlNilePUA-Bold</string>
  <string>.AlTarikhPUA</string>
  <string>.AppleColorEmojiUI</string>
  <string>.AppleSDGothicNeoI-Bold</string>
  <string>.AppleSDGothicNeoI-ExtraBold</string>
  <string>.AppleSDGothicNeoI-Heavy</string>
  <string>.AppleSDGothicNeoI-Light</string>
  <string>.AppleSDGothicNeoI-Medium</string>
  <string>.AppleSDGothicNeoI-Regular</string>
  <string>.AppleSDGothicNeoI-SemiBold</string>
  <string>.AppleSDGothicNeoI-Thin</string>
  <string>.AppleSDGothicNeoI-UltraLight</string>
  <string>.ArabicUIDisplay-Black</string>
  <string>.ArabicUIDisplay-Bold</string>
  <string>.ArabicUIDisplay-Heavy</string>
  <string>.ArabicUIDisplay-Light</string>
  <string>.ArabicUIDisplay-Medium</string>
  <string>.ArabicUIDisplay-Regular</string>
  <string>.ArabicUIDisplay-Semibold</string>
  <string>.ArabicUIDisplay-Thin</string>
  <string>.ArabicUIDisplay-Ultralight</string>
  <string>.ArabicUIText-Bold</string>
  <string>.ArabicUIText-Heavy</string>
  <string>.ArabicUIText-Light</string>
  <string>.ArabicUIText-Medium</string>
  <string>.ArabicUIText-Regular</string>
  <string>.ArabicUIText-Semibold</string>
  <string>.ArialHebrewDeskInterface</string>
  <string>.ArialHebrewDeskInterface-Bold</string>
  <string>.ArialHebrewDeskInterface-Light</string>
  <string>.BaghdadPUA</string>
  <string>.BeirutPUA</string>
  <string>.DamascusPUA</string>
  <string>.DamascusPUABold</string>
  <string>.DamascusPUALight</string>
  <string>.DamascusPUAMedium</string>
  <string>.DamascusPUASemiBold</string>
  <string>.DecoTypeNaskhPUA</string>
  <string>.DiwanKufiPUA</string>
  <string>.FarahPUA</string>
  <string>.GeezaProInterface</string>
  <string>.GeezaProInterface-Bold</string>
  <string>.GeezaProInterface-Light</string>
  <string>.GeezaProPUA</string>
  <string>.GeezaProPUA-Bold</string>
  <string>.HelveticaNeueDeskInterface-Bold</string>
  <string>.HelveticaNeueDeskInterface-BoldItalic</string>
  <string>.HelveticaNeueDeskInterface-Heavy</string>
  <string>.HelveticaNeueDeskInterface-Italic</string>
  <string>.HelveticaNeueDeskInterface-Light</string>
  <string>.HelveticaNeueDeskInterface-MediumItalicP4</string>
  <string>.HelveticaNeueDeskInterface-MediumP4</string>
  <string>.HelveticaNeueDeskInterface-Regular</string>
  <string>.HelveticaNeueDeskInterface-Thin</string>
  <string>.HelveticaNeueDeskInterface-UltraLightP2</string>
  <string>.HiraKakuInterface-W0</string>
  <string>.HiraKakuInterface-W1</string>
  <string>.HiraKakuInterface-W2</string>
  <string>.HiraKakuInterface-W3</string>
  <string>.HiraKakuInterface-W4</string>
  <string>.HiraKakuInterface-W5</string>
  <string>.HiraKakuInterface-W6</string>
  <string>.HiraKakuInterface-W7</string>
  <string>.HiraKakuInterface-W8</string>
  <string>.HiraKakuInterface-W9</string>
  <string>.HiraginoSansGBInterface-W3</string>
  <string>.HiraginoSansGBInterface-W6</string>
  <string>.Keyboard</string>
  <string>.KufiStandardGKPUA</string>
  <string>.LucidaGrandeUI</string>
  <string>.LucidaGrandeUI-Bold</string>
  <string>.MunaPUA</string>
  <string>.MunaPUABlack</string>
  <string>.MunaPUABold</string>
  <string>.NadeemPUA</string>
  <string>.NotoNastaliqUrduUI</string>
  <string>.PingFangHK-Light</string>
  <string>.PingFangHK-Medium</string>
  <string>.PingFangHK-Regular</string>
  <string>.PingFangHK-Semibold</string>
  <string>.PingFangHK-Thin</string>
  <string>.PingFangHK-Ultralight</string>
  <string>.PingFangSC-Light</string>
  <string>.PingFangSC-Medium</string>
  <string>.PingFangSC-Regular</string>
  <string>.PingFangSC-Semibold</string>
  <string>.PingFangSC-Thin</string>
  <string>.PingFangSC-Ultralight</string>
  <string>.PingFangTC-Light</string>
  <string>.PingFangTC-Medium</string>
  <string>.PingFangTC-Regular</string>
  <string>.PingFangTC-Semibold</string>
  <string>.PingFangTC-Thin</string>
  <string>.PingFangTC-Ultralight</string>
  <string>.SFCompactDisplay-Black</string>
  <string>.SFCompactDisplay-Bold</string>
  <string>.SFCompactDisplay-Heavy</string>
  <string>.SFCompactDisplay-Light</string>
  <string>.SFCompactDisplay-Medium</string>
  <string>.SFCompactDisplay-Regular</string>
  <string>.SFCompactDisplay-Semibold</string>
  <string>.SFCompactDisplay-Thin</string>
  <string>.SFCompactDisplay-Ultralight</string>
  <string>.SFCompactRounded-Black</string>
  <string>.SFCompactRounded-Bold</string>
  <string>.SFCompactRounded-Heavy</string>
  <string>.SFCompactRounded-Light</string>
  <string>.SFCompactRounded-Medium</string>
  <string>.SFCompactRounded-Regular</string>
  <string>.SFCompactRounded-Semibold</string>
  <string>.SFCompactRounded-Thin</string>
  <string>.SFCompactRounded-Ultralight</string>
  <string>.SFCompactText-Bold</string>
  <string>.SFCompactText-BoldItalic</string>
  <string>.SFCompactText-Heavy</string>
  <string>.SFCompactText-HeavyItalic</string>
  <string>.SFCompactText-Italic</string>
  <string>.SFCompactText-Light</string>
  <string>.SFCompactText-LightItalic</string>
  <string>.SFCompactText-Medium</string>
  <string>.SFCompactText-MediumItalic</string>
  <string>.SFCompactText-Regular</string>
  <string>.SFCompactText-Semibold</string>
  <string>.SFCompactText-SemiboldItalic</string>
  <string>.SFNSDisplay</string>
  <string>.SFNSDisplay-Black</string>
  <string>.SFNSDisplay-BlackItalic</string>
  <string>.SFNSDisplay-Bold</string>
  <string>.SFNSDisplay-BoldItalic</string>
  <string>.SFNSDisplay-Heavy</string>
  <string>.SFNSDisplay-HeavyItalic</string>
  <string>.SFNSDisplay-Italic</string>
  <string>.SFNSDisplay-Light</string>
  <string>.SFNSDisplay-LightItalic</string>
  <string>.SFNSDisplay-Medium</string>
  <string>.SFNSDisplay-MediumItalic</string>
  <string>.SFNSDisplay-Semibold</string>
  <string>.SFNSDisplay-SemiboldItalic</string>
  <string>.SFNSDisplay-Thin</string>
  <string>.SFNSDisplay-ThinG1</string>
  <string>.SFNSDisplay-ThinG2</string>
  <string>.SFNSDisplay-ThinG3</string>
  <string>.SFNSDisplay-ThinG4</string>
  <string>.SFNSDisplay-ThinItalic</string>
  <string>.SFNSDisplay-Ultralight</string>
  <string>.SFNSDisplay-UltralightItalic</string>
  <string>.SFNSDisplayCondensed-Black</string>
  <string>.SFNSDisplayCondensed-Bold</string>
  <string>.SFNSDisplayCondensed-Heavy</string>
  <string>.SFNSDisplayCondensed-Light</string>
  <string>.SFNSDisplayCondensed-Medium</string>
  <string>.SFNSDisplayCondensed-Regular</string>
  <string>.SFNSDisplayCondensed-Semibold</string>
  <string>.SFNSDisplayCondensed-Thin</string>
  <string>.SFNSDisplayCondensed-Ultralight</string>
  <string>.SFNSRounded-Black</string>
  <string>.SFNSRounded-Bold</string>
  <string>.SFNSRounded-Heavy</string>
  <string>.SFNSRounded-Light</string>
  <string>.SFNSRounded-Medium</string>
  <string>.SFNSRounded-Regular</string>
  <string>.SFNSRounded-Semibold</string>
  <string>.SFNSRounded-Thin</string>
  <string>.SFNSRounded-Ultralight</string>
  <string>.SFNSSymbols-Black</string>
  <string>.SFNSSymbols-Bold</string>
  <string>.SFNSSymbols-Heavy</string>
  <string>.SFNSSymbols-Light</string>
  <string>.SFNSSymbols-Medium</string>
  <string>.SFNSSymbols-Regular</string>
  <string>.SFNSSymbols-Semibold</string>
  <string>.SFNSSymbols-Thin</string>
  <string>.SFNSSymbols-Ultralight</string>
  <string>.SFNSText</string>
  <string>.SFNSText-Bold</string>
  <string>.SFNSText-BoldItalic</string>
  <string>.SFNSText-Heavy</string>
  <string>.SFNSText-HeavyItalic</string>
  <string>.SFNSText-Italic</string>
  <string>.SFNSText-Light</string>
  <string>.SFNSText-LightItalic</string>
  <string>.SFNSText-Medium</string>
  <string>.SFNSText-MediumItalic</string>
  <string>.SFNSText-Semibold</string>
  <string>.SFNSText-SemiboldItalic</string>
  <string>.SFNSTextCondensed-Bold</string>
  <string>.SFNSTextCondensed-Heavy</string>
  <string>.SFNSTextCondensed-Light</string>
  <string>.SFNSTextCondensed-Medium</string>
  <string>.SFNSTextCondensed-Regular</string>
  <string>.SFNSTextCondensed-Semibold</string>
  <string>.SanaPUA</string>
  <string>.SavoyeLetPlainCC</string>
  <string>AlBayan</string>
  <string>AlBayan-Bold</string>
  <string>AlNile</string>
  <string>AlNile-Bold</string>
  <string>AlTarikh</string>
  <string>AmericanTypewriter</string>
  <string>AmericanTypewriter-Bold</string>
  <string>AmericanTypewriter-Condensed</string>
  <string>AmericanTypewriter-CondensedBold</string>
  <string>AmericanTypewriter-CondensedLight</string>
  <string>AmericanTypewriter-Light</string>
  <string>AmericanTypewriter-Semibold</string>
  <string>AndaleMono</string>
  <string>Apple-Chancery</string>
  <string>AppleBraille</string>
  <string>AppleBraille-Outline6Dot</string>
  <string>AppleBraille-Outline8Dot</string>
  <string>AppleBraille-Pinpoint6Dot</string>
  <string>AppleBraille-Pinpoint8Dot</string>
  <string>AppleColorEmoji</string>
  <string>AppleGothic</string>
  <string>AppleMyungjo</string>
  <string>AppleSDGothicNeo-Bold</string>
  <string>AppleSDGothicNeo-ExtraBold</string>
  <string>AppleSDGothicNeo-Heavy</string>
  <string>AppleSDGothicNeo-Light</string>
  <string>AppleSDGothicNeo-Medium</string>
  <string>AppleSDGothicNeo-Regular</string>
  <string>AppleSDGothicNeo-SemiBold</string>
  <string>AppleSDGothicNeo-Thin</string>
  <string>AppleSDGothicNeo-UltraLight</string>
  <string>AppleSymbols</string>
  <string>AquaKana</string>
  <string>AquaKana-Bold</string>
  <string>Arial-Black</string>
  <string>Arial-BoldItalicMT</string>
  <string>Arial-BoldMT</string>
  <string>Arial-ItalicMT</string>
  <string>ArialHebrew</string>
  <string>ArialHebrew-Bold</string>
  <string>ArialHebrew-Light</string>
  <string>ArialHebrewScholar</string>
  <string>ArialHebrewScholar-Bold</string>
  <string>ArialHebrewScholar-Light</string>
  <string>ArialMT</string>
  <string>ArialNarrow</string>
  <string>ArialNarrow-Bold</string>
  <string>ArialNarrow-BoldItalic</string>
  <string>ArialNarrow-Italic</string>
  <string>ArialRoundedMTBold</string>
  <string>ArialUnicodeMS</string>
  <string>Athelas-Bold</string>
  <string>Athelas-BoldItalic</string>
  <string>Athelas-Italic</string>
  <string>Athelas-Regular</string>
  <string>Avenir-Black</string>
  <string>Avenir-BlackOblique</string>
  <string>Avenir-Book</string>
  <string>Avenir-BookOblique</string>
  <string>Avenir-Heavy</string>
  <string>Avenir-HeavyOblique</string>
  <string>Avenir-Light</string>
  <string>Avenir-LightOblique</string>
  <string>Avenir-Medium</string>
  <string>Avenir-MediumOblique</string>
  <string>Avenir-Oblique</string>
  <string>Avenir-Roman</string>
  <string>AvenirNext-Bold</string>
  <string>AvenirNext-BoldItalic</string>
  <string>AvenirNext-DemiBold</string>
  <string>AvenirNext-DemiBoldItalic</string>
  <string>AvenirNext-Heavy</string>
  <string>AvenirNext-HeavyItalic</string>
  <string>AvenirNext-Italic</string>
  <string>AvenirNext-Medium</string>
  <string>AvenirNext-MediumItalic</string>
  <string>AvenirNext-Regular</string>
  <string>AvenirNext-UltraLight</string>
  <string>AvenirNext-UltraLightItalic</string>
  <string>AvenirNextCondensed-Bold</string>
  <string>AvenirNextCondensed-BoldItalic</string>
  <string>AvenirNextCondensed-DemiBold</string>
  <string>AvenirNextCondensed-DemiBoldItalic</string>
  <string>AvenirNextCondensed-Heavy</string>
  <string>AvenirNextCondensed-HeavyItalic</string>
  <string>AvenirNextCondensed-Italic</string>
  <string>AvenirNextCondensed-Medium</string>
  <string>AvenirNextCondensed-MediumItalic</string>
  <string>AvenirNextCondensed-Regular</string>
  <string>AvenirNextCondensed-UltraLight</string>
  <string>AvenirNextCondensed-UltraLightItalic</string>
  <string>Ayuthaya</string>
  <string>Baghdad</string>
  <string>BanglaMN</string>
  <string>BanglaMN-Bold</string>
  <string>BanglaSangamMN</string>
  <string>BanglaSangamMN-Bold</string>
  <string>Baskerville</string>
  <string>Baskerville-Bold</string>
  <string>Baskerville-BoldItalic</string>
  <string>Baskerville-Italic</string>
  <string>Baskerville-SemiBold</string>
  <string>Baskerville-SemiBoldItalic</string>
  <string>Beirut</string>
  <string>BigCaslon-Medium</string>
  <string>BodoniOrnamentsITCTT</string>
  <string>BodoniSvtyTwoITCTT-Bold</string>
  <string>BodoniSvtyTwoITCTT-Book</string>
  <string>BodoniSvtyTwoITCTT-BookIta</string>
  <string>BodoniSvtyTwoOSITCTT-Bold</string>
  <string>BodoniSvtyTwoOSITCTT-Book</string>
  <string>BodoniSvtyTwoOSITCTT-BookIt</string>
  <string>BodoniSvtyTwoSCITCTT-Book</string>
  <string>BradleyHandITCTT-Bold</string>
  <string>BrushScriptMT</string>
  <string>Chalkboard</string>
  <string>Chalkboard-Bold</string>
  <string>ChalkboardSE-Bold</string>
  <string>ChalkboardSE-Light</string>
  <string>ChalkboardSE-Regular</string>
  <string>Chalkduster</string>
  <string>Charter-Black</string>
  <string>Charter-BlackItalic</string>
  <string>Charter-Bold</string>
  <string>Charter-BoldItalic</string>
  <string>Charter-Italic</string>
  <string>Charter-Roman</string>
  <string>Cochin</string>
  <string>Cochin-Bold</string>
  <string>Cochin-BoldItalic</string>
  <string>Cochin-Italic</string>
  <string>ComicSansMS</string>
  <string>ComicSansMS-Bold</string>
  <string>Copperplate</string>
  <string>Copperplate-Bold</string>
  <string>Copperplate-Light</string>
  <string>CorsivaHebrew</string>
  <string>CorsivaHebrew-Bold</string>
  <string>Courier</string>
  <string>Courier-Bold</string>
  <string>Courier-BoldOblique</string>
  <string>Courier-Oblique</string>
  <string>CourierNewPS-BoldItalicMT</string>
  <string>CourierNewPS-BoldMT</string>
  <string>CourierNewPS-ItalicMT</string>
  <string>CourierNewPSMT</string>
  <string>DINAlternate-Bold</string>
  <string>DINCondensed-Bold</string>
  <string>Damascus</string>
  <string>DamascusBold</string>
  <string>DamascusLight</string>
  <string>DamascusMedium</string>
  <string>DamascusSemiBold</string>
  <string>DecoTypeNaskh</string>
  <string>DevanagariMT</string>
  <string>DevanagariMT-Bold</string>
  <string>DevanagariSangamMN</string>
  <string>DevanagariSangamMN-Bold</string>
  <string>Didot</string>
  <string>Didot-Bold</string>
  <string>Didot-Italic</string>
  <string>DiwanKufi</string>
  <string>DiwanMishafi</string>
  <string>DiwanMishafiGold</string>
  <string>DiwanThuluth</string>
  <string>EuphemiaUCAS</string>
  <string>EuphemiaUCAS-Bold</string>
  <string>EuphemiaUCAS-Italic</string>
  <string>Farah</string>
  <string>Farisi</string>
  <string>Futura-Bold</string>
  <string>Futura-CondensedExtraBold</string>
  <string>Futura-CondensedMedium</string>
  <string>Futura-Medium</string>
  <string>Futura-MediumItalic</string>
  <string>GB18030Bitmap</string>
  <string>GeezaPro</string>
  <string>GeezaPro-Bold</string>
  <string>Geneva</string>
  <string>Georgia</string>
  <string>Georgia-Bold</string>
  <string>Georgia-BoldItalic</string>
  <string>Georgia-Italic</string>
  <string>GillSans</string>
  <string>GillSans-Bold</string>
  <string>GillSans-BoldItalic</string>
  <string>GillSans-Italic</string>
  <string>GillSans-Light</string>
  <string>GillSans-LightItalic</string>
  <string>GillSans-SemiBold</string>
  <string>GillSans-SemiBoldItalic</string>
  <string>GillSans-UltraBold</string>
  <string>GujaratiMT</string>
  <string>GujaratiMT-Bold</string>
  <string>GujaratiSangamMN</string>
  <string>GujaratiSangamMN-Bold</string>
  <string>GurmukhiMN</string>
  <string>GurmukhiMN-Bold</string>
  <string>GurmukhiSangamMN</string>
  <string>GurmukhiSangamMN-Bold</string>
  <string>Helvetica</string>
  <string>Helvetica-Bold</string>
  <string>Helvetica-BoldOblique</string>
  <string>Helvetica-Light</string>
  <string>Helvetica-LightOblique</string>
  <string>Helvetica-Oblique</string>
  <string>HelveticaNeue</string>
  <string>HelveticaNeue-Bold</string>
  <string>HelveticaNeue-BoldItalic</string>
  <string>HelveticaNeue-CondensedBlack</string>
  <string>HelveticaNeue-CondensedBold</string>
  <string>HelveticaNeue-Italic</string>
  <string>HelveticaNeue-Light</string>
  <string>HelveticaNeue-LightItalic</string>
  <string>HelveticaNeue-Medium</string>
  <string>HelveticaNeue-MediumItalic</string>
  <string>HelveticaNeue-Thin</string>
  <string>HelveticaNeue-ThinItalic</string>
  <string>HelveticaNeue-UltraLight</string>
  <string>HelveticaNeue-UltraLightItalic</string>
  <string>Herculanum</string>
  <string>HiraKakuPro-W3</string>
  <string>HiraKakuPro-W6</string>
  <string>HiraKakuProN-W3</string>
  <string>HiraKakuProN-W6</string>
  <string>HiraKakuStd-W8</string>
  <string>HiraKakuStdN-W8</string>
  <string>HiraMaruPro-W4</string>
  <string>HiraMaruProN-W4</string>
  <string>HiraMinPro-W3</string>
  <string>HiraMinPro-W6</string>
  <string>HiraMinProN-W3</string>
  <string>HiraMinProN-W6</string>
  <string>HiraginoSans-W0</string>
  <string>HiraginoSans-W1</string>
  <string>HiraginoSans-W2</string>
  <string>HiraginoSans-W3</string>
  <string>HiraginoSans-W4</string>
  <string>HiraginoSans-W5</string>
  <string>HiraginoSans-W6</string>
  <string>HiraginoSans-W7</string>
  <string>HiraginoSans-W8</string>
  <string>HiraginoSans-W9</string>
  <string>HiraginoSansGB-W3</string>
  <string>HiraginoSansGB-W6</string>
  <string>HoeflerText-Black</string>
  <string>HoeflerText-BlackItalic</string>
  <string>HoeflerText-Italic</string>
  <string>HoeflerText-Ornaments</string>
  <string>HoeflerText-Regular</string>
  <string>ITFDevanagari-Bold</string>
  <string>ITFDevanagari-Book</string>
  <string>ITFDevanagari-Demi</string>
  <string>ITFDevanagari-Light</string>
  <string>ITFDevanagari-Medium</string>
  <string>ITFDevanagariMarathi-Bold</string>
  <string>ITFDevanagariMarathi-Book</string>
  <string>ITFDevanagariMarathi-Demi</string>
  <string>ITFDevanagariMarathi-Light</string>
  <string>ITFDevanagariMarathi-Medium</string>
  <string>Impact</string>
  <string>InaiMathi</string>
  <string>InaiMathi-Bold</string>
  <string>IowanOldStyle-Black</string>
  <string>IowanOldStyle-BlackItalic</string>
  <string>IowanOldStyle-Bold</string>
  <string>IowanOldStyle-BoldItalic</string>
  <string>IowanOldStyle-Italic</string>
  <string>IowanOldStyle-Roman</string>
  <string>IowanOldStyle-Titling</string>
  <string>Kailasa</string>
  <string>Kailasa-Bold</string>
  <string>KannadaMN</string>
  <string>KannadaMN-Bold</string>
  <string>KannadaSangamMN</string>
  <string>KannadaSangamMN-Bold</string>
  <string>Kefa-Bold</string>
  <string>Kefa-Regular</string>
  <string>KhmerMN</string>
  <string>KhmerMN-Bold</string>
  <string>KhmerSangamMN</string>
  <string>KohinoorBangla-Bold</string>
  <string>KohinoorBangla-Light</string>
  <string>KohinoorBangla-Medium</string>
  <string>KohinoorBangla-Regular</string>
  <string>KohinoorBangla-Semibold</string>
  <string>KohinoorDevanagari-Bold</string>
  <string>KohinoorDevanagari-Light</string>
  <string>KohinoorDevanagari-Medium</string>
  <string>KohinoorDevanagari-Regular</string>
  <string>KohinoorDevanagari-Semibold</string>
  <string>KohinoorTelugu-Bold</string>
  <string>KohinoorTelugu-Light</string>
  <string>KohinoorTelugu-Medium</string>
  <string>KohinoorTelugu-Regular</string>
  <string>KohinoorTelugu-Semibold</string>
  <string>Kokonor</string>
  <string>Krungthep</string>
  <string>KufiStandardGK</string>
  <string>LaoMN</string>
  <string>LaoMN-Bold</string>
  <string>LaoSangamMN</string>
  <string>LastResort</string>
  <string>LucidaGrande</string>
  <string>LucidaGrande-Bold</string>
  <string>Luminari-Regular</string>
  <string>MalayalamMN</string>
  <string>MalayalamMN-Bold</string>
  <string>MalayalamSangamMN</string>
  <string>MalayalamSangamMN-Bold</string>
  <string>Marion-Bold</string>
  <string>Marion-Italic</string>
  <string>Marion-Regular</string>
  <string>MarkerFelt-Thin</string>
  <string>MarkerFelt-Wide</string>
  <string>Menlo-Bold</string>
  <string>Menlo-BoldItalic</string>
  <string>Menlo-Italic</string>
  <string>Menlo-Regular</string>
  <string>MicrosoftSansSerif</string>
  <string>Monaco</string>
  <string>MonotypeGurmukhi</string>
  <string>Mshtakan</string>
  <string>MshtakanBold</string>
  <string>MshtakanBoldOblique</string>
  <string>MshtakanOblique</string>
  <string>Muna</string>
  <string>MunaBlack</string>
  <string>MunaBold</string>
  <string>MyanmarMN</string>
  <string>MyanmarMN-Bold</string>
  <string>MyanmarSangamMN</string>
  <string>MyanmarSangamMN-Bold</string>
  <string>Nadeem</string>
  <string>NewPeninimMT</string>
  <string>NewPeninimMT-Bold</string>
  <string>NewPeninimMT-BoldInclined</string>
  <string>NewPeninimMT-Inclined</string>
  <string>Noteworthy-Bold</string>
  <string>Noteworthy-Light</string>
  <string>NotoNastaliqUrdu</string>
  <string>Optima-Bold</string>
  <string>Optima-BoldItalic</string>
  <string>Optima-ExtraBlack</string>
  <string>Optima-Italic</string>
  <string>Optima-Regular</string>
  <string>OriyaMN</string>
  <string>OriyaMN-Bold</string>
  <string>OriyaSangamMN</string>
  <string>OriyaSangamMN-Bold</string>
  <string>PTMono-Bold</string>
  <string>PTMono-Regular</string>
  <string>PTSans-Bold</string>
  <string>PTSans-BoldItalic</string>
  <string>PTSans-Caption</string>
  <string>PTSans-CaptionBold</string>
  <string>PTSans-Italic</string>
  <string>PTSans-Narrow</string>
  <string>PTSans-NarrowBold</string>
  <string>PTSans-Regular</string>
  <string>PTSerif-Bold</string>
  <string>PTSerif-BoldItalic</string>
  <string>PTSerif-Caption</string>
  <string>PTSerif-CaptionItalic</string>
  <string>PTSerif-Italic</string>
  <string>PTSerif-Regular</string>
  <string>Palatino-Bold</string>
  <string>Palatino-BoldItalic</string>
  <string>Palatino-Italic</string>
  <string>Palatino-Roman</string>
  <string>Papyrus</string>
  <string>Papyrus-Condensed</string>
  <string>Phosphate-Inline</string>
  <string>Phosphate-Solid</string>
  <string>PingFangHK-Light</string>
  <string>PingFangHK-Medium</string>
  <string>PingFangHK-Regular</string>
  <string>PingFangHK-Semibold</string>
  <string>PingFangHK-Thin</string>
  <string>PingFangHK-Ultralight</string>
  <string>PingFangSC-Light</string>
  <string>PingFangSC-Medium</string>
  <string>PingFangSC-Regular</string>
  <string>PingFangSC-Semibold</string>
  <string>PingFangSC-Thin</string>
  <string>PingFangSC-Ultralight</string>
  <string>PingFangTC-Light</string>
  <string>PingFangTC-Medium</string>
  <string>PingFangTC-Regular</string>
  <string>PingFangTC-Semibold</string>
  <string>PingFangTC-Thin</string>
  <string>PingFangTC-Ultralight</string>
  <string>PlantagenetCherokee</string>
  <string>Raanana</string>
  <string>RaananaBold</string>
  <string>Rockwell-Bold</string>
  <string>Rockwell-BoldItalic</string>
  <string>Rockwell-Italic</string>
  <string>Rockwell-Regular</string>
  <string>STHeitiSC-Light</string>
  <string>STHeitiSC-Medium</string>
  <string>STHeitiTC-Light</string>
  <string>STHeitiTC-Medium</string>
  <string>STIXGeneral-Bold</string>
  <string>STIXGeneral-BoldItalic</string>
  <string>STIXGeneral-Italic</string>
  <string>STIXGeneral-Regular</string>
  <string>STIXIntegralsD-Bold</string>
  <string>STIXIntegralsD-Regular</string>
  <string>STIXIntegralsSm-Bold</string>
  <string>STIXIntegralsSm-Regular</string>
  <string>STIXIntegralsUp-Bold</string>
  <string>STIXIntegralsUp-Regular</string>
  <string>STIXIntegralsUpD-Bold</string>
  <string>STIXIntegralsUpD-Regular</string>
  <string>STIXIntegralsUpSm-Bold</string>
  <string>STIXIntegralsUpSm-Regular</string>
  <string>STIXNonUnicode-Bold</string>
  <string>STIXNonUnicode-BoldItalic</string>
  <string>STIXNonUnicode-Italic</string>
  <string>STIXNonUnicode-Regular</string>
  <string>STIXSizeFiveSym-Regular</string>
  <string>STIXSizeFourSym-Bold</string>
  <string>STIXSizeFourSym-Regular</string>
  <string>STIXSizeOneSym-Bold</string>
  <string>STIXSizeOneSym-Regular</string>
  <string>STIXSizeThreeSym-Bold</string>
  <string>STIXSizeThreeSym-Regular</string>
  <string>STIXSizeTwoSym-Bold</string>
  <string>STIXSizeTwoSym-Regular</string>
  <string>STIXVariants-Bold</string>
  <string>STIXVariants-Regular</string>
  <string>STSong</string>
  <string>STSongti-SC-Black</string>
  <string>STSongti-SC-Bold</string>
  <string>STSongti-SC-Light</string>
  <string>STSongti-SC-Regular</string>
  <string>STSongti-TC-Bold</string>
  <string>STSongti-TC-Light</string>
  <string>STSongti-TC-Regular</string>
  <string>Sana</string>
  <string>Sathu</string>
  <string>SavoyeLetPlain</string>
  <string>Seravek</string>
  <string>Seravek-Bold</string>
  <string>Seravek-BoldItalic</string>
  <string>Seravek-ExtraLight</string>
  <string>Seravek-ExtraLightItalic</string>
  <string>Seravek-Italic</string>
  <string>Seravek-Light</string>
  <string>Seravek-LightItalic</string>
  <string>Seravek-Medium</string>
  <string>Seravek-MediumItalic</string>
  <string>ShreeDev0714</string>
  <string>ShreeDev0714-Bold</string>
  <string>ShreeDev0714-BoldItalic</string>
  <string>ShreeDev0714-Italic</string>
  <string>SignPainter-HouseScript</string>
  <string>SignPainter-HouseScriptSemibold</string>
  <string>Silom</string>
  <string>SinhalaMN</string>
  <string>SinhalaMN-Bold</string>
  <string>SinhalaSangamMN</string>
  <string>SinhalaSangamMN-Bold</string>
  <string>Skia-Regular</string>
  <string>Skia-Regular_Black</string>
  <string>Skia-Regular_Black-Condensed</string>
  <string>Skia-Regular_Black-Extended</string>
  <string>Skia-Regular_Bold</string>
  <string>Skia-Regular_Condensed</string>
  <string>Skia-Regular_Extended</string>
  <string>Skia-Regular_Light</string>
  <string>Skia-Regular_Light-Condensed</string>
  <string>Skia-Regular_Light-Extended</string>
  <string>SnellRoundhand</string>
  <string>SnellRoundhand-Black</string>
  <string>SnellRoundhand-Bold</string>
  <string>SukhumvitSet-Bold</string>
  <string>SukhumvitSet-Light</string>
  <string>SukhumvitSet-Medium</string>
  <string>SukhumvitSet-SemiBold</string>
  <string>SukhumvitSet-Text</string>
  <string>SukhumvitSet-Thin</string>
  <string>Superclarendon-Black</string>
  <string>Superclarendon-BlackItalic</string>
  <string>Superclarendon-Bold</string>
  <string>Superclarendon-BoldItalic</string>
  <string>Superclarendon-Italic</string>
  <string>Superclarendon-Light</string>
  <string>Superclarendon-LightItalic</string>
  <string>Superclarendon-Regular</string>
  <string>Symbol</string>
  <string>Tahoma</string>
  <string>Tahoma-Bold</string>
  <string>TamilMN</string>
  <string>TamilMN-Bold</string>
  <string>TamilSangamMN</string>
  <string>TamilSangamMN-Bold</string>
  <string>TeluguMN</string>
  <string>TeluguMN-Bold</string>
  <string>TeluguSangamMN</string>
  <string>TeluguSangamMN-Bold</string>
  <string>Thonburi</string>
  <string>Thonburi-Bold</string>
  <string>Thonburi-Light</string>
  <string>Times-Bold</string>
  <string>Times-BoldItalic</string>
  <string>Times-Italic</string>
  <string>Times-Roman</string>
  <string>TimesNewRomanPS-BoldItalicMT</string>
  <string>TimesNewRomanPS-BoldMT</string>
  <string>TimesNewRomanPS-ItalicMT</string>
  <string>TimesNewRomanPSMT</string>
  <string>Trattatello</string>
  <string>Trebuchet-BoldItalic</string>
  <string>TrebuchetMS</string>
  <string>TrebuchetMS-Bold</string>
  <string>TrebuchetMS-Italic</string>
  <string>Verdana</string>
  <string>Verdana-Bold</string>
  <string>Verdana-BoldItalic</string>
  <string>Verdana-Italic</string>
  <string>Waseem</string>
  <string>WaseemLight</string>
  <string>Webdings</string>
  <string>Wingdings-Regular</string>
  <string>Wingdings2</string>
  <string>Wingdings3</string>
  <string>ZapfDingbatsITC</string>
  <string>Zapfino</string>
</array>
</plist>
