<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20B50</string>
	<key>CFBuildNumber</key>
	<string>109</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Sketch</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>doc.icns</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>com.bohemiancoding.sketch.drawing</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.bohemiancoding.sketch.drawing</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>MSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>doc.icns</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>com.bohemiancoding.sketch.drawing.single</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.bohemiancoding.sketch.drawing.single</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>sketchplugin.icns</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>com.bohemiancoding.sketch.plugin</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.bohemiancoding.sketch.plugin</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MSScriptDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>doc.icns</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>PDF</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>webp.icns</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>WebP</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.webp</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>doc.icns</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>EPS</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.encapsulated-postscript</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>doc.icns</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Any Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
			</array>
			<key>NSDocumentClass</key>
			<string>MSDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>sketchplugin.icns</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>com.bohemiancoding.sketch.plugin.bundle</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.bohemiancoding.sketch.plugin.bundle</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>1</integer>
			<key>NSDocumentClass</key>
			<string>MSScriptDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sketchcloud</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>clouddoc.icns</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>com.bohemiancoding.sketch.clouddrawing.single</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.bohemiancoding.sketch.clouddrawing.single</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSDocumentClass</key>
			<string>MSDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Sketch</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.bohemiancoding.sketch3</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh-Hans</string>
	</array>
	<key>CFBundleName</key>
	<string>Sketch</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>70.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>sketch</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sketch</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>sketch-version</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sketch-v70.3</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>sketch-variant</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sketch-NONAPPSTORE</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>109109</string>
	<key>CHApplicationSupportFolderName</key>
	<string>com.bohemiancoding.sketch3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>12B45b</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>11.0</string>
	<key>DTSDKBuild</key>
	<string>20A2408</string>
	<key>DTSDKName</key>
	<string>macosx11.0</string>
	<key>DTXcode</key>
	<string>1220</string>
	<key>DTXcodeBuild</key>
	<string>12B45b</string>
	<key>DocumentCompatibilityVersion</key>
	<string>99</string>
	<key>DocumentVersion</key>
	<string>134</string>
	<key>ECVersionCommit</key>
	<string>794fcbc75f3cb4da92c1ed9169bf7673a0d11f04</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.graphics-design</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14.4</string>
	<key>NSAccentColorName</key>
	<string>clr.accent.color</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>This allows Sketch to communicate with the app.</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>© 2009-2020 Sketch B.V.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>You’ll be able to browse and import your photos into Sketch.</string>
	<key>NSPrincipalClass</key>
	<string>MSSketchApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>WUGMZZ5K46.com.bohemiancoding.sketch</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>Sketch</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.bohemiancoding.sketch.play.handoff</string>
	</array>
	<key>PasteboardVersion</key>
	<string>7</string>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUPublicEDKey</key>
	<string>3X0VHqyNNKRRGjmDESNW+gxRJEoRuPSa2JzGg97Udt0=</string>
	<key>Sketch Build Date</key>
	<string>1608239964</string>
	<key>Sketch Support Date</key>
	<string>1605657600</string>
	<key>Sketch Support Version</key>
	<string>70</string>
	<key>Sketch Variant</key>
	<string>NONAPPSTORE</string>
	<key>SketchAssistantsHostServiceName</key>
	<string>com.bohemiancoding.SketchAssistantsHost</string>
	<key>SketchFileFormatVersion</key>
	<string>3.6.9</string>
	<key>Supported SDKs</key>
	<array>
		<string>macosx10.14</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sketch Drawing</string>
			<key>UTTypeIconFile</key>
			<string>doc.icns</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconText</key>
				<string>sketch</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.bohemiancoding.sketch.drawing</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sketch</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sketch Drawing</string>
			<key>UTTypeIconFile</key>
			<string>doc.icns</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconText</key>
				<string>sketch</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.bohemiancoding.sketch.drawing.single</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sketch</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.netscape.javascript-​source</string>
				<string>public.script</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sketch Plugin</string>
			<key>UTTypeIconFile</key>
			<string>sketchplugin.icns</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconText</key>
				<string>plugin</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.bohemiancoding.sketch.plugin</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sketchplugin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sketch Default</string>
			<key>UTTypeIconFile</key>
			<string>doc.icns</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconText</key>
				<string>sketch</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.bohemiancoding.sketch.default</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sketchdefault</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sketch Preset</string>
			<key>UTTypeIconFile</key>
			<string>preset.icns</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconText</key>
				<string>preset</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.bohemiancoding.sketch.preset</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sketchpreset</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sketch Plugin</string>
			<key>UTTypeIconFile</key>
			<string>sketchplugin.icns</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconText</key>
				<string>plugin</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.bohemiancoding.sketch.plugin.bundle</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sketchplugin</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Sketch Cloud Drawing</string>
			<key>UTTypeIconFile</key>
			<string>doc.icns</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>img.doc.cloud.icon</string>
				<key>UTTypeIconText</key>
				<string>cloud</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.bohemiancoding.sketch.clouddrawing.single</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sketchcloud</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Google’s WebP</string>
			<key>UTTypeIdentifier</key>
			<string>public.webp</string>
			<key>UTTypeReferenceURL</key>
			<string>http://code.google.com/speed/webp/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>webp</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
